    <h2>Listagem de Logs App</h2>
    <div *ngIf="errorCode>0" class="alert alert-danger">{{ errorMsg }}</div>
    <div class="list">
      <font face="Arial" size="2px">
        <table class= "table table-striped" width="100%" border="1">
          <tr>
            <td>Data</td>
            <td>Ip</td>
            <td>Request</td>
            <td>Status</td>
            <td>User Agent</td>
          </tr>
          <tr *ngFor="let items of logResponse">
              <td> {{items.data}} </td>
              <td> {{items.ip}} </td>
              <td> {{items.request}} </td>
              <td> {{items.status}} </td>
              <td> {{items.userAgent}} </td>
            </tr>
        </table>
      </font>
    </div>

    <hr>
    <div class="pagination">
      <font face="Arial" size="2px">
        <table border="1" width="70%" align="center">
          <tr>
            <td align="center">
                <div>
                  Registros por página
                  <select class="form-control" #t  (change)="changeRecsPerPage(t.value)">
                      <option selected="selected">10</option>
                      <option>20</option> 
                      <option>30</option>
                  </select>

                  &nbsp;
                  &nbsp;

                  <button [disabled]="!hasPrior()" (click)="goFirstPage()">&lt;&lt;</button> 
                    <button [disabled]="!hasPrior()" (click)="goPriorPage()">&lt;</button> 
                    Página <input class="form-control" #x type="number" value="{{ currentPage }}" min="1" /> de {{ totalPages }} <button (click)="goToPage(x.value)"> Ir para </button>
                    <button [disabled]="!hasNext()" (click)="goNextPage()">&gt;</button> 
                    <button [disabled]="!hasNext()" (click)="goLastPage()">&gt;&gt;</button> 

                    &nbsp;
                    &nbsp;

                    <span>{{ totalRec }} registros</span> 

                </div>
            </td>
          </tr>
        </table>
      </font>
    </div>
